extends layout

block content
  h1= title
  - let Housesid = toShow._id
  - let Houseshouse_name = toShow.house_name
  - let Houseshouse_size = toShow.house_size
  - let Houseshouse_price = toShow.house_price
  
  div
    div.row
      div(class='HousesAttr mr-3') Houses ID is:
      div #{Housesid}
      
    div.row
      div(class='HousesAttr mr-3') Houses Type is:
      div #{Houseshouse_name}
      
    div.row
      div(class='HousesAttr mr-3') Houses Size is:
      div #{Houseshouse_size}
      
    div.row
      div(class='HousesAttr mr-3') Houses Cost is:
      div #{Houseshouse_price}
