extends layout

block content
  h1= title
  - let items = results
  - var Houses = [{ house_name: "Maple Cottage", house_size: "Medium", house_price: 300000 },{ house_name: "Oak Manor", house_size: "Large", house_price: 500000 },{ house_name: "Pine Retreat", house_size: "Small", house_price: 200000 }]
  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `/Houses/update?id=${item._id}`
        div(class="row-sm-2 m-1")
          | Item #{item.house_name} (#{item.house_size}) is #{item.house_price} $
          button.btn(class="btn-primary ml-1", onclick=`dispatch('${destination}')`) Update
  script.
    function buy(a) {
      alert(`You purchased House ${a+1}`);
    }
    function dispatch(path) {
      window.location.href = path;
    }
